* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/363411.jpg);
    background-size: cover;
    background-position: center;
}
/* .bg-clock {
    background-color: #fff;
    border-radius: 50%;
} */
.clock {
    backdrop-filter: brightness(80%) blur(7px);
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/clock.png);
    background-size: cover;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(0, 0, 0, 0.2),
                inset 0 -15px 15px rgb(255, 255, 255, 0.3),
                0 5px 15px rgb(0, 0, 0, 0.5),
                inset 0 5px 15px rgb(0, 0, 0, 0.5);
}
.clock::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    z-index: 10000;
}
.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}
.hr, .mn, .sc {
    transition: transform 0.5s cubic-bezier(0.4, 2.3, 0.3, 1);
}
.clock .hour .hr {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.hr::before {
    content: '';
    position: absolute;
    width: 8.5px;
    height: 150px;
    background-color: #000;
    border-radius: 50% 50% 30% 30%;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.clock .min .mn {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
}
.mn::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 200px;
    background-color: #000;
    border-radius: 40% 40% 0 0;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.clock .sec .sc {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
}
.sc::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 250px;
    background-color: #ff0000;
    border-radius: 6px 6px 0 0;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
